@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- end row -->
<div class="row">
    <div class="col-12">
        <div class="card-box">

        </div>  <!-- end card-box-->
    </div> <!-- end col -->
</div>
<!-- end row -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
           GetAllUsers();
    });
</script>